.book{
    text-align: center;
    margin-top:5%;
    width:50%;
    margin-left: 23%; 
}
#name{
  width:80%;  
}
#telephone{
    width:80%;
}
#time{
    width:80%;
}
#animal{
    width:80%;
}
#email{
    width:80%;
}
#concerns{
    width:80%;
}
#submit{
    width:20%;
    margin-left: 15%;
}
#contact{
    margin-top:10%;
    background-color: gray;
}