nav{
    width: 100%;
    background-color: rgb(238, 122, 14);
    margin: auto;
    position: fixed;
    height: 4%;
    z-index: 1;
    padding-right: 3%;
    top: 0;
    padding-bottom: 3%;
    margin-left: 0;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li {
    display: inline;
    justify-content: space-around;
    list-style: none;
    margin: 0 30px;
    color: #bdf008;
    cursor: pointer;
    padding: 40px;
    /* background-color: rgb(41, 2, 41); */
}

nav ul li a {
    color: rgb(47, 4, 75);
    /* width: 200px; */
    text-decoration: none;
    display: inline-block;
    text-align: right;
    padding: 15px;
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'Amaranth', sans-serif;
    font-weight: bold;
    text-shadow: rgb(247, 6, 247);
}

nav>ul>li>a:hover {
    box-shadow: 0 0 10px black, inset 0 0 1px black;
    background: rgb(240, 132, 10);
    }