.book{
    text-align: center;
    margin-top:5%; 
}
#name{
  width:60%;  
}
#telephone{
    width:60%;
}
#location{
    width:60%;
}
#animal{
    width:60%;
}
#email{
    width:60%;
}
#concerns{
    width:80%;
}
#submit{
    width:20%;
}